# Python byte code
*.pyc

# Python virtual environment
venv

# gem5 repos
gem5

# Microbenchmarks
microbench

# gem5 results
results

# database
database

# disk images
disk-image/

# Linux repos
linux-configs/
