# Python byte code
*.pyc

# Python virtual environment
venv

# gem5 repos
gem5

# gem5 results
stats
results

# database
database

# microbenchmarks
microbench

# packer binaries and the disk images
disk-image/packer
disk-image/packer_*_linux_amd64.zip
disk-image/boot-exit/boot-exit-image/boot-exit
disk-image/packer_cache

# Linux repos
linux-stable/
linux-4.19.83/
